@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body {
    color: #E9E9E9;
    font-size: 17px;
    font-family: 'Source Code Pro', monospace;
    background-color: #586e75;
    padding-top: 80px;
    padding-bottom: 80px;
}

.mycode {
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
}

pre {
    background-color: #fdf6e3;
    padding: 20px;
    border: 1px solid #eee;
}

.string {
    color: #dc322f;
}

.type {
    color: #b58900;
}

.function {
    color: #268bd2;
}

.keyword {
    color: #2aa198;
    font-weight: 700 !important;
}

div#content {
    padding-top: 20px;
}

a, a:visited, a:active {
    color: #dc322f;
    text-decoration: none;
    border-bottom: 1px #333 dotted;
}

a:hover {
    color: #dc322f;
    text-decoration: none;
    border-bottom: 1px #999 solid;
}

